# Caddyfile

agent.baughcl.tech {
	@websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}

    handle /* {
		reverse_proxy agentapp:4000
	}

	handle /login* {
		reverse_proxy agentapp:4000
	}

	handle /register* {
		reverse_proxy agentapp:4000
	}

	handle /agent* {
		reverse_proxy agentapp:4000
	}

	handle /settings* {
		reverse_proxy agentapp:4000
	}

	handle /logout* {
		reverse_proxy agentapp:4000
	}

	handle /ws* {
		reverse_proxy @websockets socketapp:5000
	}

}







