# Caddyfile

agent.baughcl.tech {

    handle /* {
		reverse_proxy agentapp:4000
	}

	handle /login* {
		reverse_proxy agentapp:4000
	}

	handle /register* {
		reverse_proxy agentapp:4000
	}

	handle /agent* {
		reverse_proxy agentapp:4000
	}

	handle /settings* {
		reverse_proxy agentapp:4000
	}

	handle /logout* {
		reverse_proxy agentapp:4000
	}

}







