{% extends 'index/base.html' %}

{% block content %}

<div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
                <div class="row mt-3">
                  <div class="col-2 text-center ms-auto">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-facebook text-white text-lg"></i>
                    </a>
                  </div>
                  <div class="col-2 text-center px-1">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-github text-white text-lg"></i>
                    </a>
                  </div>
                  <div class="col-2 text-center me-auto">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-google text-white text-lg"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="form-floating mb-3">
                        <label>Username</label>
                        {{ form.uname(class="form-control") }}    
                    </div>
        
                    <div class="form-floating mb-3">
                        <label>Password</label>
                        {{ form.password(class="form-control") }} 
                    </div>
        
                    <div class="form-floating mb-3">
                        <label>Confirm Password</label>
                        {{ form.password_confirm(class="form-control") }}
                    </div>
        
                    {% if form.errors %}
                    <ul class="error">
                        {% for error in form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
        
                    <div class="d-grid mb-2">
                        {{ form.submit(class="btn btn-dark btn-round") }}
                    </div>
                </form>
            </div>
</div>

{% endblock %}