[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
redis = "*"
asyncio = "*"
uvicorn = "*"
nest-asyncio = "*"
aiohttp = "*"
quart-auth = "*"
email-validator = "*"
quart-wtforms = {extras = ["email"], version = "*"}
quart-rate-limiter = "*"
passlib = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
